:root {
  --brand-color: #2196f3;
  --text-color: #757575;
  --kontakt-color: rgba(255, 255, 255, 0.6);
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.brand-color {
  color: var(--brand-color);
}
.text-color {
  color: var(--text-color);
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #212121;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #ececec;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  padding: 18px 0;
  align-items: center;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  flex-grow: 2;
}
.header-adress {
  flex-grow: 1;
  display: flex;
  list-style: none;
  padding: 0;
}
.transion {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #000000;
  font-weight: 700;
  flex-grow: 1;
}
a {
  text-decoration: none;
  color: black;
  position: relative;
}
.adress-item {
  display: flex;
  align-items: center;
}
.icon {
  fill: #757575;
  margin-right: 10px;
  cursor: pointer;
}
.icon:hover {
  fill: #03a9f4;
}
.menu-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}
.menu-item a:hover {
  color: var(--brand-color);
}

.active-bottom a::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  top: 28px;
  color: #2196f3;
  border-radius: 2px;
}
.adress-item a:hover {
  color: var(--brand-color);
}
.text-color {
  color: var(--text-color);
}
.header-menu .menu-item {
  margin-right: 46px;
}
.menu-item:last-child {
  margin-right: 0;
}
.header-adress .adress-item {
  margin-right: 50px;
}
.header-adress .adress-item:last-child {
  margin-right: 0;
}
.banner {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/back-ground.jpg);
  padding-block: 200px;
}
.banner-titel {
  margin-top: 0;
  margin-bottom: 30px;
  padding-inline: 252px;
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  line-height: 1.6;
}
.button {
  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-inline: 500px;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.button:hover {
  color: #ffffff;
  background-color: var(--brand-color);
  border: none;
}
.work {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.section {
  padding-block: 94px;
}
.box {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  text-align: center;
  padding-block: 25px;
}
.text {
  display: flex;
  margin-inline: 15px;
  margin-block: 0px 94px;
  padding: 0;
}
.text-item {
  margin-right: 30px;
  text-align: start;
  list-style: none;
}
.text-item:last-child {
  margin-right: 0;
}
.text h4 {
  font-weight: 700;
}
.text p {
  line-height: 1.3;
}

.title-item {
  font-weight: 700;
  font-size: 36px;
  padding-inline: 424px;
  margin-block: 0px 50px;
}
.team li {
  background-color: #ffffff;
}
.worker-cards {
  display: flex;
  margin: 0;
  padding-inline: 15px;
}
.cards {
  list-style: none;
  margin-right: 30px;
  /* position: relative; */
}

.icon-work {
  fill: #afb1b8;
  margin-right: 10px;
  cursor: pointer;
}
.icon-work:hover {
  fill: #03a9f4;
}
.cards:last-child {
  margin-right: 0;
}
.thumb {
  position: relative;
  overflow: hidden;
}
img {
  display: block;
}
.thumb > .text-posicion {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-block: 27px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  margin: 0;
  width: 370px;
  height: 70px;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
}

.cline {
  display: flex;
  list-style: none;
  padding-inline: 15px;
  margin: 0;
}
.cline li {
  margin-right: 30px;
}
.icon-box {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-align: center;
  padding-top: 18px;
  width: 170px;
  height: 92px;
}
.icon-box:hover {
  border: 1px solid #2196f3;
}
.cline li:last-child {
  margin-right: 0;
}
.team {
  display: flex;
  background-color: #f5f4fa;
  flex-direction: column;
}
.team-photo {
  display: flex;
  padding-inline: 15px;
}
.team-title {
  padding-inline: 495px;
  margin-block: 0px 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #212121;
}
.team-photo {
  margin-block: 0;
}
.team-cards {
  list-style: none;
  margin-block: 0px;
  margin-right: 30px;
  max-width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-cards:last-child {
  margin-right: 0;
}
.team-social {
  padding-inline: 32px;
  display: flex;
  padding-bottom: 30px;
}
.icon-social {
  fill: #afb1b8;
  cursor: pointer;
  width: 44px;
  height: 44px;
  text-align: center;
  padding: 12px;
  animation-name: ikonTeam;
}
.icon-social:hover {
  fill: #ffffff;
  cursor: pointer;
  background-color: var(--brand-color);
  border-radius: 30px;
}
.team-social li {
  list-style: none;
  margin-right: 10px;
}
.team-social li:last-child {
  margin-right: 0px;
}

.card-image {
  max-width: 100%;
  height: auto;
}
.card-image.gap {
  display: block;
}

.team h4 {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding-block: 30px 0px;
  margin-top: 0;
  margin-bottom: 10px;
}
.team p {
  font-size: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

footer {
  background-color: #2f303a;
  color: #ffffff;
}
.content-box {
  display: flex;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding-top: 50px;
  padding-left: 15px;
  margin-bottom: 20px;
}
.footer-adres {
  line-height: 1.3;
  font-style: normal;
  padding-left: 15px;
  margin-bottom: 9px;
}
.box-logo {
  margin-right: 70px;
}
.footer-icon {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
}
.footer-icon li {
  list-style: none;
  margin-right: 10px;
  animation-name: ikonTeam;
}

.footer-icon li:last-child {
  margin-right: 0;
}
.footer-tittle {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.kontakt-color {
  color: var(--kontakt-color);
}
.icon-foter {
  display: flex;
  padding: 0;
  margin: 0;
}
.contact {
  list-style: none;
  line-height: 1.3;
  padding: 0;
  margin-block: 0px;
}
.mail {
  margin-bottom: 9px;
  padding-left: 15px;
}
.telefon {
  padding-bottom: 60px;
  padding-left: 15px;
}
.portfolio-main-block {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.portfolio-list-button {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 310px;
  padding-right: 318px;
  margin-block: 0px 34px;
}
.list-button {
  background-color: #ffffff;
  margin-right: 8px;
}
.list-button:last-child {
  margin-right: 0;
}
.list-button:hover {
  color: var(--brand-color);
}
.portfolio-button {
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-active {
  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 121px;
  height: 38px;
}
.portfolio-button:hover {
  color: #ffffff;
  background-color: var(--brand-color);
}
.button-pages {
  width: 93px;
  height: 38px;
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.button-applicaton {
  width: 114px;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  cursor: pointer;
}
.button-designer {
  width: 91px;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  cursor: pointer;
}
.button-marketing {
  width: 121px;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  cursor: pointer;
}

.portfolio-main-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-block: 30px;
  padding-inline: 0;
  margin: 0;
}
.card {
  list-style: none;
  max-width: 370px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.card-border {
  position: relative;
  overflow: hidden;
}
.card-hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card:hover .card-hidden {
  transform: translateY(0);
  padding-block: 49px;
  padding-inline: 24px 45px;
}
.portfolio-main-block h4 {
  margin: 20px 24px 4px;
  font-weight: 700;
  font-size: 18px;
  padding-block: 20px 0px;
  padding-inline: 24px;
  margin-block: 0px 4px;
  margin-inline: 0px;
}
.portfolio-main-block p {
  font-size: 16px;
  margin: 4px 24px 20px;
  padding-block: 0px 20px;
  padding-inline: 24px;
  margin-block: 0px;
  margin-inline: 0px;
}
.card-border {
  border: 1px solid #eeeeee;
  cursor: pointer;
}

@keyframes ikonTeam {
  0% {
    background-color: var(--brand-color);
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  50% {
    background-color: var(--brand-color);
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  100% {
    background-color: var(--brand-color);
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ---okno modalne--- */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.25s;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
}
